$text-color: #26292b;

$brand-primary: #4bba8c;

$theme-darkgray: #26292b;
$theme-gray: #4b5054;

// Other colors
$theme-pink: #ff6c82;
$theme-green: #50b88a;
$theme-lightgray: #f1f1f1;
$theme-lightblue: #ecfafe;

$footer-height: 266px;

@import '_bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  font-family: 'Quicksand', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $theme-darkgray;
	color: white;

	.top-footer {
		background-color: $theme-gray;
		width: 100%;
		height: 58px;

    .navbar-default {
      height: 57px;
      background: transparent;
      font-size: 1.35em;
      .navbar-nav {
        height: 57px;
        border: none;
        text-align: center;
        float: none;
        li {
          height: 57px;
          float: none;
          display: inline-block;
          padding-left:50px;
          padding-right: 50px;
          vertical-align: top;
          a {
            height: 57px;
            color: #dadddc;
            margin-top: -25px;
          }
        }
      }
    }
	}
  .bottom-footer {
    .container {
      text-align: center;
      img {
        display: block;
        margin: 0 auto;
        margin-top: -24px;
      }
    .col-md-4 {
      padding-top: 104px;
      a {
        color: #dadddc;
        font-size: 1.3em;
        }
      a:hover {
        text-decoration: none;
      }
      }
    }
  }
}


.navbar-nav > li > a {
	line-height: 81px;
}

.navbar-default {
	background-color: white;
	border: none;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.45);
	margin-bottom: 0px;
}

.navbar-default {
	.navbar-nav {
		& > .active > a,
		& > .active > a:hover,
		& > .active > a:focus {
			background: transparent;
		}
	}

}

#branding-section {
	background-position: center bottom;
	background-size: cover;

	background-image: url('../images/top-bg.png');
	background-repeat: repeat-x;

}

#branding-section .jumbotron {
	background-color: transparent;
}

h2, .h2 {
	font-size: 2.8em;
	margin-top: 1em;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: .8em;
	text-transform: uppercase;
}

.lead {
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.7em;
	font-size: 1.3em;
}

.jumbotron .lead {
	font-size: 1.3em;
}

.jumbotron {
	.btn-lg {
		font-size: 1.1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: .74em 1.7em;
		border-radius: 1.84em;
	}
}

main {

}

.btn-pink {
	@include button-variant(white, $theme-pink, $theme-pink);
}

.btn-green {
	@include button-variant(white, $theme-green, $theme-green);
}

#homepage-main {
	padding: 2em 0 3.5em;
	p {
		font-size: 1.3em;
	}
  h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.triangle-wrapper {
  color: white;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 60px;
  position: relative;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

#homepage-employers {
  .triangle-down {
    border-top: 50px solid #ff6c82;
  }

  .triangle-wrapper {
    background-color: #ff6c82;
  }
}

#homepage-employees {
  .triangle-down {
    border-top: 50px solid #50b98b;
  }

  .triangle-wrapper {
    background-color: #50b98b;
  }
}

.homepage-category {
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 60px;
  h3{
    padding: 20px;
  }
  h4{
    padding-bottom: 20px;
  }
}

.general-btn {
  color:white;
  background-color: #50b98b;
  border: none;
  height: 150px;
  width: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  font-size: 1.225em;
}
.marketing-btn {
  color:white;
  background-color: #ff6c82;
  border: none;
  height: 150px;
  width: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  font-size: 1.225em;
}
.software-btn {
  color:white;
  background-color: #2377e1;
  border: none;
  height: 150px;
  width: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  font-size: 1.225em;
}
.creative-btn {
  color:white;
  background-color: #c085ea;
  border: none;
  height: 150px;
  width: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  font-size: 1.225em;
}
